<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/styles.css">
  <title>Cat Lovers</title>
</head>
<body>
  <div class="title-container">
    <h1 class="title">CatLovers</h1>
    <a href="/login" class="title-link">Login</a>
    <a href="/register" class="title-link">Register</a>
  </div>
</body>
</html>